{% extends "base.html" %}
{% set active_page = 'artist' -%}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>{{artist.name}}</h2>
<p><img style="float: right;" src="{{ artist.image_url }}"></p>
<p>
{% autoescape false %}{{artist.bio}}{% endautoescape %}
</p>
<h3>Gigs</h3>
<p><ul>
    {% for gig in artist.gigs_performed %}<li><a href="/gig/{{gig.id}}">{{gig.time_start|naturaltime}} at {{gig.venue.name}}</a></li>{% endfor %}
</ul></p>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
