{% extends "base.html" %}
{% set active_page = 'artist' -%}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Artists</h2>

<p><ul id="artistlist">
	{% for artist in artists %}
		<li><a href="/artist/{{artist.id}}/{{artist.name_slug}}">{{artist.name}}</a></li>
	{% endfor %}
	</ul>
</p>
<a href="add">Add artist.</a><br>
<a href="delete">Delete artist.</a><br>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
