<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/base.css" rel="stylesheet" media="screen">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container-narrow">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/gig">Gigs</a></li>
                <li><a href="/artist">Artists</a></li>
                <li><a href="/venue">Venues</a></li>
            </ul>
            <h1>SydGig</h1>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            <hr>
            <p>&copy; {{ date_year() }} <a href="/about">SydGig</a>. __EXECUTION_TIME__ms.</p>
            {% endblock %}
        </div>
    </div>
</body>
