{% extends "base.html" %}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Gigs</h2>

<p><ul id="giglist">
	{% for gig in gigs %}
    <li><a href="/gig/{{gig.id}}">{{gig.time_start}} @ {{gig.venue}} with {% for artist in gig.performers %}{{ artist.name }} {% endfor %}</a></li>
	{% endfor %}
	</ul>
</p>
<a href="add">Add gig.</a><br>
<a href="delete">Delete gig.</a><br>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
