{% extends "base.html" %}

{% block head %}
<title>SydGig</title>
<script type="text/javascript">
    function addArtistField(){
        var newdiv = document.createElement('div');
        newdiv.innerHTML = '<input type="text" name="artists">';
        document.getElementById('gigAddArtists').appendChild(newdiv);
    }
</script>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Add Gig</h2>
<p>
    <form action="" method="post" id="gig-add">
        <p>Date:
            <select name="date_day">
                {% for i in range(1,31) %}
                {% if i == date_day() %}
                <option value="{{ i }}" selected="selected">{{ i }}</option>
                {% else %}
                <option value="{{ i }}">{{ i }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <select name="date_month">
                {% for i in ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %}
                {% if i == date_month() %}
                <option value="{{ i }}" selected="selected">{{ i }}</option>
                {% else %}
                <option value="{{ i }}">{{ i }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <select name="date_year">
                <option value="{{ date_year() }}" selected="selected">{{ date_year() }}</option>
                <option value="{{ date_year() }}">{{ date_year() + 1}}</option>
            </select>
        <p>Time:
            <select name="time_hour">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8" selected="selected">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            <select name="time_min">
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30" selected="selected">30</option>
                <option value="45">45</option>
            </select>
            <select name="time_ampm">
                <option value="am">am</option>
                <option value="pm" selected="selected">pm</option>
            </select>

        <p>Venue:<input type="text" name="venue"></p>

        <p><div id="gigAddArtists">
        Artists playing:<br>
        <input type="text" name="artists"><br>
        </div>
        <a href="#" onclick="addArtistField();">Add another artist.</a></p>
        <p><input type="submit" value="Add gig"/></p>
    </form>
</p>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
