# sqlalchemy
SQLAlchemy==0.8.2

# flask, jinja
Flask==0.10.1
Jinja2==2.7

# Celery
celery==3.0.21

# lastfm
decorator==3.4.0

# requests
requests==1.2.3

# humanize
humanize==0.4

# soundcloud
soundcloud==0.3.6

