{% extends "base.html" %}

{% block head %}
<title>About - Sydgig</title>
{% endblock %}

{% block content %}
This site is about good gigs in Sydney.

<h2>RULES</h2>
<ol>
    <li>No cover bands</li>
    <li>No open mics</li>
    <li><a href="{{ video }}">No not dancing</a></li>
</ol>

<p>This site is run by <a href="http://alex.jurkiewi.cz">Alex</a>, email me at <a href="mailto:alex@jurkiewi.cz?subject=SydGig">alex@jurkiewi.cz</a>. PS, the code is <a href="https://github.com/alexjurkiewicz/sydgig">public</a>.</p>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
