{% extends "base.html" %}
{% set active_page = 'add' -%}

{% block head %}
<title>Add - SydGig</title>
<link rel="stylesheet" href="/static/js/jquery-ui.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>

<script type="text/javascript">
    var names = [ "", "", "", "", "", "", "Fitz Fest", "OusideIn Festival", "Ears Have Ears #4", "" ];
    var artists = [ "Rainbow Chan", "Holly Throsby", "Housewives", "Gardland", "The Laurels", "Julia Why?", "Palms", "Yes I'm Leaving", "Songs", "Royal Headache", "The Preatures", "Royal Chant", "Unity Floors", "Matt Banham", "Ted Danson with Wolves", "Lowlifes", "Dereb The Ambassador", "Infinity Broke", "Sophie Hutchings", "Day Ravies", "Takadimi", "Lines of Flight", "Hermitude", "The Ocean Party", "Family", "Collarbones", "Cosmo's Midnight", "Gnome", "I'lls", "Oily Boys", "The Wednesday Night", "Jordan Leser", "Destiny 3000", "afxjim", "Revier", "New War", "King Tears Mortuary", "Kate Carr", "Infinity Broke", "The Sufferjets", "Scissor Lock", "Cassius Select" ];
    var venues = [ "Goodgod Small Club", "The Union", "Brighton Up", "Oxford Art Factory", "Camelot", "The Standard", "Upstairs Beresford", "Paddington Uniting Church", "Cafe Church Space", "107 Projects", "Lamps", "505s", "Frankie's", "Green Room Lounge", "Factory Floor", "The Vanguard", "Newtown Town Hall", "Metro Theatre", "Enmore Theatre", "Petersham Bowls Club", "Marrickville Bowls Club", "Carriageworks", "The Annandale Hotel", "Factory Theatre", "The Square", "Black Wire", "The Basement", "Midnight Special", "Jam Gallery" ];
    $(document).ready(function () {
        document.getElementById('name-input').placeholder = names[Math.floor(Math.random() * names.length)];
        document.getElementById('first-artist-input').placeholder = artists[Math.floor(Math.random() * artists.length)];
        document.getElementById('venue-input').placeholder = venues[Math.floor(Math.random() * venues.length)];
    });
    function addArtistField() {
        var newinput = document.createElement('input');
        newinput.className = "artist-input form-control";
        newinput.type = "text";
        newinput.name = "artists";
        newinput.tabIndex = "3";
        newinput.placeholder = artists[Math.floor(Math.random() * artists.length)];
        document.getElementById('gigAddArtists').appendChild(newinput);
        newinput.focus();
    }
    $(function () {
        $("#datepicker").datepicker({ dateFormat: "DD d MM, yy", firstDay: 1, minDate: 0, maxDate: 180, showOtherMonths: true, selectOtherMonths: true, });
    });
</script>

<script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'white',
        tabindex : 8,
    };
</script>
{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px">
<h2>Add a new gig</h2>
<form role="form" action="" method="post" id="gig-add">
    <div class="form-group">
        <label for="date">Date</label>
        <input tabindex="1" class="form-control" type="text" id="datepicker" name="date" placeholder="{{ date_today()|longdate }}" value="{{ date_today()|longdate }}">
    </div>
    <div class="form-group">
        <label for="time">Time</label><br>
        <select tabindex="2" class="form-control" name="time" style="display: inline;">
            {# {% for ampm in [ 'am', 'pm' ] -%}
            {% for hour in ['12','1','2','3','4','5','6','7','8','9','10','11'] -%}
            {% for min in ['00', '30'] -%}
            <option value="{{ hour }}:{{ min }} {{ ampm }}">{{ hour }}:{{ min }} {{ ampm }}</option>
            {% endfor -%}
            {% endfor -%}
            {% endfor -%} #}
            <option value="00:00">12:00 am</option>
            <option value="00:30">12:30 am</option>
            <option value="1:00">1:00 am</option>
            <option value="1:30">1:30 am</option>
            <option value="2:00">2:00 am</option>
            <option value="2:30">2:30 am</option>
            <option value="3:00">3:00 am</option>
            <option value="3:30">3:30 am</option>
            <option value="4:00">4:00 am</option>
            <option value="4:30">4:30 am</option>
            <option value="5:00">5:00 am</option>
            <option value="5:30">5:30 am</option>
            <option value="6:00">6:00 am</option>
            <option value="6:30">6:30 am</option>
            <option value="7:00">7:00 am</option>
            <option value="7:30">7:30 am</option>
            <option value="8:00">8:00 am</option>
            <option value="8:30">8:30 am</option>
            <option value="9:00">9:00 am</option>
            <option value="9:30">9:30 am</option>
            <option value="10:00">10:00 am</option>
            <option value="10:30">10:30 am</option>
            <option value="11:00">11:00 am</option>
            <option value="11:30">11:30 am</option>
            <option value="12:00">12:00 pm</option>
            <option value="12:30">12:30 pm</option>
            <option value="13:00">1:00 pm</option>
            <option value="13:30">1:30 pm</option>
            <option value="14:00">2:00 pm</option>
            <option value="14:30">2:30 pm</option>
            <option value="15:00">3:00 pm</option>
            <option value="15:30">3:30 pm</option>
            <option value="16:00">4:00 pm</option>
            <option value="16:30">4:30 pm</option>
            <option value="17:00">5:00 pm</option>
            <option value="17:30">5:30 pm</option>
            <option value="18:00">6:00 pm</option>
            <option value="18:30">6:30 pm</option>
            <option value="19:00">7:00 pm</option>
            <option value="19:30">7:30 pm</option>
            <option value="20:00">8:00 pm</option>
            <option value="20:30" selected="selected">8:30 pm</option>
            <option value="21:00">9:00 pm</option>
            <option value="21:30">9:30 pm</option>
            <option value="22:00">10:00 pm</option>
            <option value="22:30">10:30 pm</option>
            <option value="23:00">11:00 pm</option>
            <option value="23:30">11:30 pm</option>
        </select>
    </div>

    <div id="gigAddArtists" class="form-group">
        <label for "artists">Who?</label>
        <input tabindex="3" class="artist-input form-control" type="text" name="artists" id="first-artist-input">
    </div>
    <button tabindex="4" type="button" class="btn btn-default btn-sm" onclick="addArtistField();">
        <span class="glyphicon glyphicon-plus"></span> Add another artist
    </button>
    <br>
    <br>

    <div class="form-group">
        <label for="venue">Where?</label>
        <input tabindex="5" class="form-control" type="text" name="venue" id="venue-input">
    </div>

    <div class="form-group">
        <label for="gigname">Gig Name? (optional)</label>
        <input tabindex="6" class="form-control" type="text" name="gigname" id="name-input">
    </div>

    <div class="form-group">
        <label for="gigdesc">Description/Links? (optional)</label>
        <textarea class="form-control" rows="3" tabindex="7" name="gigdesc" id="desc-input"></textarea>
    </div>

    <div class="form-group">
        <label>No robots allowed</label>
        {% autoescape false %}{{ captcha_html }}{% endautoescape %}
    </div>

    <button tabindex="9" type="submit" class="btn btn-submit">Looks Good!</button>

</form>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
