{% extends "base.html" %}
{% set active_page = 'artist' -%}

{% block head %}
<title>{{ artist.name }} - SydGig</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
        {% if artist.image_url %}<p><img class="img-rounded img-responsive" style="max-height: 400px" src="{{ artist.image_url }}"></p>{% endif %}
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>{{artist.name}}</h2>
        {% if artist.gigs_performed %}
        <h3>Gigs</h3>
        <p><ul>
            {% for gig in artist.gigs_performed|sort(attribute='time_start') %}
            <li><a href="/gig/{{gig.id}}">{{gig.time_start|naturaltime}} at {{gig.venue.name}}</a></li>
            {% endfor %}
        </ul></p>
        {% endif %}
    {% if artist.bio %}
    <h3>About</h3>
    <p>
    {% autoescape false %}{{ artist.bio|replace("\n","<br>") }}{% endautoescape %}
    </p>
    {% endif %}
    </div>
 </div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
