<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container container-narrow">
        <div class="masthead">
            {% set navigation_bar = [
                ('/', 'index', 'Gigs'),
                ('/submit', 'submit', 'Submit a gig'),
            ] -%}
            {% set active_page = active_page|default('none') -%}
            <ul class="nav nav-pills pull-right">
                {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %}class="active"{% endif %}><a href="{{ href }}">{{ caption }}</a></li>
                {% endfor %}
            </ul>
            <div class="page-header"><a href="/"><h1>SydGig <small>Sydney Gigs</small></h1></a></div>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            <hr>
            <p>&copy; {{ date_year() }} <a href="/about">SydGig</a>. __EXECUTION_TIME__ms.</p>
            {% endblock %}
        </div>
    </div>
</body>
</html>
