{% extends "base.html" %}
{% set active_page = 'gig' -%}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block content %}
<h2>Gigs</h2>

{% for date in gigdates|sort %}
<h3>{{ date }}</h3>
    <p><ul>
    {% for gig in gigdates[date] %}
    <li><a href="/gig/{{gig.id}}">{{gig.name}}, {{gig.pretty_time_start}}</a> at {{gig.venue.name}} with {{ gig.performers|join(', ', attribute='name') }} </a></li>
    </ul></p>
	{% endfor %}
{% endfor %}
</p>
<a href="add">Add gig.</a><br>
<a href="delete">Delete gig.</a><br>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
