{% extends "base.html" %}
{% set active_page = 'gig' -%}

{% block head %}
<title>{{gig.performers|map(attribute='name')|join(', ')}} @ {{ gig.venue.name }} - SydGig</title>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <h2>{% if gig.name %}{{ gig.name }}{% else %}Gig Info{% endif %}</h2>
</div>
{% if gig.description %}
<div class="row">
    <p>{{ gig.description|urlize(40, true) }}</p>
</div>
{% endif %}
<div class="row">
    <div class="col-md-1"><b>Who</b></div>
    <div class="col-md-8">
        <ul class="list-unstyled">
            {% for artist in gig.performers %}
            <li><a href="/artist/{{artist.id}}/{{artist.name_slug}}">{{artist.name}}</a></li>
            {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-1"><b>When</b></div>
    <div class="col-md-8">
        {{gig.pretty_time_start}} ({{ gig.time_start|naturaltime }})
    </div>
</div>
<div class="row">
    <div class="col-md-1"><b>Where</b></div>
    <div class="col-md-8">
        <p><a href="/venue/{{ gig.venue.id }}/{{ gig.venue.name_slug }}">{{ gig.venue.name }}</a></p>
        <iframe style="margin-top: 0.5rem; margin-bottom: 0.5rem;" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ gig.venue.name|quote_plus }},%20{{ gig.venue.address|quote_plus }}&amp;aq=&amp;ie=UTF8&amp;hnear=&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
</div>
    <p class="text-danger"><a style="color: #b94a48" href="/gig/report/{{ gig.id }}">Report this gig.</a></p>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
