{% extends "base.html" %}
{% set active_page = 'gig' -%}

{% block head %}
<title>SydGig</title>
<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
<link rel="stylesheet" href="/static/js/jquery-ui.min.css" />
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script>
    function addArtistField(){
        var newdiv = document.createElement('div');
        newdiv.innerHTML = '<input type="text" name="artists">';
        document.getElementById('gigAddArtists').appendChild(newdiv);
    }
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: "DD d MM, yy" });
    });
</script>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Add Gig</h2>
<form action="" method="post" id="gig-add">
    <p>Name (optional):<input type="text" name="name" /></p>
    <p>Date: <input type="text" id="datepicker" name="date" /></p>
    <p>Time:
        <select name="time_hour">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8" selected="selected">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select name="time_min">
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30" selected="selected">30</option>
            <option value="45">45</option>
        </select>
        <select name="time_ampm">
            <option value="am">am</option>
            <option value="pm" selected="selected">pm</option>
        </select>

    <p>Venue:<input type="text" name="venue"></p>

    <div id="gigAddArtists">
        Artists playing:<br>
        <input type="text" name="artists"><br>
    </div>
    <a href="#" onclick="addArtistField();">Add another artist.</a>
    <p><input type="submit" value="Add gig"/></p>
</form>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
