{% extends "base.html" %}
{% set active_page = 'gig' -%}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px">
<h2>Report Gig</h2>
<form role="form" action="" method="post" id="gig-report">
    <div class="form-group">
        <label for="reason">Reason</label>
        <textarea tabindex="1" class="form-control" rows="3" placeholder="Spam, incorrect info, etc..." autofocus="autofocus"></textarea>
    </div>
    <button tabindex="2" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
