{% extends "base.html" %}
{% set active_page = 'index' -%}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block content %}
<!-- gig list starts here -->
<div class="table-responsive">
<table class="table table-bordered calendar-table">
{% for date_bunch in gigs|sort|batch(7) %}
  <tr class="calendar-row">
    {% for date in date_bunch %}
    <td class="calendar-day {% if date < date_today() %}calendar-past{% elif date|istoday() %}calendar-today{% else %}calendar-future{% endif %}">
      {% if date >= date_today() %}
      <p>{{ date|simpledate }}</p>
      <ul class="list-unstyled">
      {% for gig in gigs[date] %}
      <li><p class="calendar-text"><a href="/gig/{{gig.id}}">{{ gig.performers|map(attribute='name')|truncate_list|join(', ') }} @ {{gig.venue.name }}</a></p></li>
      {% endfor %}
      {% endif %}
      </ul>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
