{% extends "base.html" %}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block content %}
<!-- gig list starts here -->
{% for date_bunch in gigs|sort|batch(7) %}
<div class="row"> <!-- start a new week row -->
{% for date in date_bunch %}
  <div class="col-sm-1" style="width: 14%">{{ date|simpledate }} <!-- start a new date cell -->
    <ul class="list-unstyled">
    {% for gig in gigs[date] %}
        <li><p class="calendar-text"><a href="/gig/{{gig.id}}">{{ gig.performers|join(', ', attribute='name') }}</a></p></li>
    {% endfor %}
    </ul>
  </div> <!-- end date cell -->
{% endfor %}
</div> <!-- end week row -->
{% endfor %}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
