{% extends "base.html" %}
{% set active_page = 'submit' -%}

{% block head %}
<title>SydGig</title>
<link rel="stylesheet" href="/static/js/jquery-ui.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    var names = [ "", "", "", "", "", "Album Launch", "Fitz Fest", "OusideIn Festival", "Ears Have Ears #4", "Europe tour farewell party" ];
    var artists = [ "Rainbow Chan", "Holly Throsby", "Housewives", "Gardland", "The Laurels", "Julia Why?", "Palms", "Yes I'm Leaving", "Songs", "Royal Headache", "The Preatures", "Royal Chant", "Unity Floors", "Matt Banham", "Ted Danson with Wolves", "Lowlifes", "Dereb The Ambassador", "Infinity Broke", "Sophie Hutchings", "Day Ravies", "Takadimi", "Lines of Flight", "Hermitude", "The Ocean Party", "Family", "Collarbones", "Cosmo's Midnight", "Gnome", "I'lls", "Oily Boys", "The Wednesday Night", "Jordan Leser", "Destiny 3000", "afxjim", "Revier", "New War" ];
    var venues = [ "Goodgod Small Club", "The Union", "Brighton Up", "Oxford Art Factory", "Camelot", "The Standard", "Upstairs Beresford", "Paddington Uniting Church", "Cafe Church Space", "107 Projects", "Lamps", "505s", "Frankie's", "Green Room Lounge", "Factory Floor", "The Vanguard", "Newtown Town Hall", "Metro Theatre", "The Enmore Theatre", "Petersham Bowls Club", "Marrickville Bowls Club", "Carriageworks", "The Annandale Hotel", "The Factory Theatre", "The Square", "Black Wire", "The Basement", "Midnight Special" ];
    $(document).ready(function () {
        document.getElementById('name-input').placeholder = names[Math.floor(Math.random() * names.length)];
        document.getElementById('first-artist-input').placeholder = artists[Math.floor(Math.random() * artists.length)];
        document.getElementById('venue-input').placeholder = venues[Math.floor(Math.random() * venues.length)];
    });
    function addArtistField() {
        var newinput = document.createElement('input');
        newinput.className = "form-control";
        newinput.type = "text";
        newinput.name = "artists";
        newinput.placeholder = artists[Math.floor(Math.random() * artists.length)];
        document.getElementById('gigAddArtists').appendChild(newinput);
    }
    $(function () {
        $("#datepicker").datepicker({ dateFormat: "DD d MM, yy" });
    });
</script>
{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px">
<h2>Submit a new gig</h2>
<form role="form" action="/takesubmit" method="post" id="gig-add">
    <div class="form-group">
        <label for="date">Date</label>
        <input class="form-control" type="text" id="datepicker" name="date" placeholder="{{ date_today()|longdate }}">
    </div>
    <div class="form-group">
        <label>Time</label><br>
        <select class="form-control" name="time_hour" style="display: inline; width: 50px;">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8" selected="selected">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select class="form-control" name="time_min" style="display: inline; width: 50px;">
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30" selected="selected">30</option>
            <option value="45">45</option>
        </select>
        <select class="form-control" name="time_ampm" style="display: inline; width: 75px;">
            <option value="am">am</option>
            <option value="pm" selected="selected">pm</option>
        </select>
    </div>

    <div class="form-group">
        <label for="venue">Venue</label>
        <input class="form-control" type="text" name="venue" id="venue-input">
    </div>

    <div id="gigAddArtists" class="form-group">
        <label for "artists">Artists playing</label>
        <input class="form-control" type="text" name="artists" id="first-artist-input">
    </div>
    <button type="button" class="btn btn-default btn-sm" onclick="addArtistField();">
        <span class="glyphicon glyphicon-plus"></span> Add another artist.
    </button>
    <br>
    <br>
    <div class="form-group">
        <label for="gigname">Name (optional)</label>
        <input class="form-control" type="text" name="gigname" id="name-input">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
