{% extends "base.html" %}
{% set active_page = 'venue' -%}

{% block head %}
<title>SydGig</title>
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Venues</h2>

<p><ul id="Venuelist">
	{% for venue in venues %}
		<li><a href="/venue/{{venue.id}}/{{venue.name|quote_plus}}">{{venue.name}}</a></li>
	{% endfor %}
	</ul>
</p>
<a href="add">Add venue.</a><br>
<a href="delete">Delete venue.</a><br>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
