body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 970px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Frontpage Calendar */
.calendar-table>tbody>tr>td {
    border: 3px solid #fff;
}
.calendar-text {
    font-size: 12px;
}
.calendar-row {
    height: 100px;
}
.calendar-day {
    width: 14%;
    max-width: 150px;
    height: 100px;
}
.calendar-past {
}
.calendar-today {
    background-color: #dff0d8;
}
.calendar-future {
    background-color: #f0f0f0;
}

/* Gig submission artist field */
.artist-input {
    margin-bottom: 1rem;
}
